#banner
	.banner_content
		%h1 Your online notebook, Never forget the idea again.	
		%button= link_to 'Sign Up', new_user_registration_path
#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period." 
		%p Vivek Goel
#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Notes
				%p A black and tan bi-color shepherd, he, at just over two years in age, weighs in at 85lbs and stands 27 inches at the shoulder. With a shapely, broad head and intelligent eyes, Hunter is eager to please and very light afoot when running. 
				%i.fa.fa-trello
				%h2 Rocket
				%p A black and tan bi-color shepherd, he, at just over two years in age, weighs in at 85lbs and stands 27 inches at the shoulder. With a shapely, broad head and intelligent eyes, Hunter is eager to please and very light afoot when running. 
				%i.fa.fa-anchor
				%h2 Lightning
				%p A black and tan bi-color shepherd, he, at just over two years in age, weighs in at 85lbs and stands 27 inches at the shoulder. With a shapely, broad head and intelligent eyes, Hunter is eager to please and very light afoot when running. 
				%i.fa.fa-repeat
				%h2 Vivek Goel
				%p A black and tan bi-color shepherd, he, at just over two years in age, weighs in at 85lbs and stands 27 inches at the shoulder. With a shapely, broad head and intelligent eyes, Hunter is eager to please and very light afoot when running. 
#bottom_cta
	.wrapper
		%h2 Reliz!
		%p I want you to sign up.... If you don't, I will find you.
		%button= link_to "clickme!!!!!", new_user_registration_path
%footer
	%p &copy Vivek Goel